body{
    background-color: rgb(247, 242, 234) !important;
}
.nav_style{
background-color:white !important;
}
.search_bar{
    border: none;
    background-color: rgb(225, 233, 241);
    border-radius:3px;
    width: 130%;
    height: 2.2rem;
}

.icon {
    position: absolute;
    left: 10px; /* Adjust the position as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Input styles */
  .input-container {
    position: relative;
  }
  
  .input-container input[type="text"] {
    padding-left: 30px;
  }
  .f_size{
    font-size: 0.8rem;
    margin-left: 10px;
  }
  