*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
/* navbar start */
.logo{
    display: flex;
}
.sideMenu{
    margin-left: 10px;
}
.nav_header{
    background-image:linear-gradient(to right,#a517ba,#5F1782);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

#navtoggler ul li a{
    color: rgb(197, 197, 197) !important;
    transition: 1s;
    font-size: larger;
}
#navtoggler ul li a:hover{
    color: rgb(252, 250, 250) !important;
    border-bottom:1px solid white;
}
#nav_logo{
    align-items: center;
    margin-top: 5px;
    display: inline;
}
#menu_btn{
    border-radius: 10px;
    background-color: #5F1782;
}
#menu{
   color: #ffffff;
   background-color: #5F1782;
   border-radius: 10px;
}
/* navbar end */

/* Sidebar start */
.side_bar{
    background-image:linear-gradient(to bottom,#5F1782,#a517ba);
    width: 229px;
    height: 100vh;
    transition: opacity 1s, visibility 1s; /* Apply transition to opacity and visibility properties over 1 second */
    opacity: 1; /* Initially visible */
    visibility: visible; /* Initially visible */
}
.side_bar ul{
    margin-top: 90px;
    position: fixed;
}
.side_bar ul li a{
    color: white;
    width: 229px;
    display: flex;
}
.side_bar ul li a:hover{
    background-image:linear-gradient(to right,#961cd3,#aba0ad);
}
.dropdown-menu{
    background-image:linear-gradient(to bottom,#961cd3,#aba0ad);
    width: 12.5vw;
}
.dropdown-menu .dropdown-item:hover{
   color: white;
   width: 12.35vw;
}


.side_bar.clicked{
    opacity: 0; /* Make invisible */
    visibility: hidden; /* Hide but maintain space */
}

@media only screen and (max-width: 950px){
    #nav_logo{
        font-size: medium;
    }
}

/* Sidebar end */
