.home-body {
    height: 100vh;
    background-image: url("../source/img/kkbg.jpeg");
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
}
.h1{
    color: white;
    font: bold;
    font-weight: bolder;
}