body{
    background-color: rgb(52, 52, 94);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15%;
}
.container{
    padding: 10px;
    border: 2px solid whitesmoke;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}
.head{
    margin-bottom: 20px;
    font-weight: 20px;
    font-weight: 600;
}
input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
input:hover{
    background-color: azure;
}
input:focus{
    border: 0px ;
    background-color: beige;
}