<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!--Bootstrap-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/bootstrap.min.css">
   <!--manual style-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/index.css">
</head>
<body>

    <!-- Navbar  -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pradeeb.J</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skils">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">contact</a>
            </li>
        </div>
      </div>
    </nav>

    <!-- Home Section  -->
    <section id="home" class="container-fluid">
       <p class="text-center">im'a <span>web app developer</span></p>
       <p class="text-center">I know <span>HTML,CSS,JS</span></p>
       <p class="text-center">I know <span>Java</span></p>
       <p class="text-center">I know <span>MySQL database</span></p>
    </section>

    <!-- About Section  -->
    <section id="about">
        <div class="circle">
          <img src="/sources/Bootsrap/image/bg2.jpeg"  alt="my pic">
          <div class="content">
            <div class="h1">About Me</div>
            <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iste laborum ducimus eius praesentium unde aut dignissimos amet omnis veritatis reiciendis veniam, eos eaque a laboriosam illum magnam cum enim!,Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus ullam deserunt quia explicabo enim iusto consequatur autem ipsa, quidem aperiam hic aliquam natus mollitia, fugiat voluptas ut. Ab, enim at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ipsum cum cumque nam nemo, qui odit deleniti exercitationem similique quos pariatur ipsam error reprehenderit, assumenda amet id quaerat, est provident!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iste laborum ducimus eius praesentium unde aut dignissimos amet omnis veritatis reiciendis veniam, eos eaque a laboriosam illum magnam cum enim!,Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus ullam deserunt quia explicabo enim iusto consequatur autem ipsa, quidem aperiam hic aliquam natus mollitia, fugiat voluptas ut. Ab, enim at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ipsum cum cumque nam nemo, qui odit deleniti exercitationem similique quos pariatur ipsam error reprehenderit, assumenda amet id quaerat, est provident!</p>
            
          </div>
          </div>
        </div>
    </section>

    <!-- Skils Section  -->
    <section id="skils">
      <div class="h1 text-center p-lg-5">My Skils</div>
      <div class="container">
        <div class="row p-lg-6 p-0 mb-lg-3 mb-0">
          <div class="col-lg-6 col-12">
              <label class="h4">HTML</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-success" role="progressbar"
                style="width:88%">
                88%
                </div>
              </div> 
          </div>
          <div class="col-lg-6 col-12">
              <label class="h4">CSS</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-warning" role="progressbar"
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                70%
                </div>
              </div> 
          </div>
        </div>
        <div class="row p-lg-6 p-0 mb-lg-3 mb-0">
          <div class="col-lg-6 col-12">
              <label class="h4">Bootsrap</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-warning" role="progressbar"
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                 70%
                </div>
              </div> 
          </div>
          <div class="col-lg-6 col-12">
              <label class="h4">JS</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-danger" role="progressbar"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:49%">
                 49%
                </div>
              </div> 
          </div>
        </div>
        <div class="row p-lg-6 p-0 mb-lg-3 mb-0">
          <div class="col-lg-6 col-12">
              <label class="h4 ">Java</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-success" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                 85%
                </div>
              </div> 
          </div>
          <div class="col-lg-6 col-12">
              <label class="h4">Spring Boot</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-success" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                80%
                </div>
              </div> 
          </div>
        </div>
        <div class="row p-lg-6 p-0 mb-lg-3 mb-0">
          <div class="col-lg-6 col-12">
              <label class="h4">Rest API, Web Application</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-success" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  85%
                </div>
              </div> 
          </div>
          <div class="col-lg-6 col-12">
              <label class="h4">MySQL</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active bg-success" role="progressbar"
                aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  85%
                </div>
              </div> 
          </div>
        </div>
      </div>
    </section>

    <script src="/sources/Bootsrap/js/bootstrap.min.js"></script>
    <script src="/sources/Bootsrap/js/jquery.min.js"></script>
    <script src="/sources/Bootsrap/js/index.js"></script>
</body>
</html>