<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Bootstrap-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/bootstrap.min.css">
   <!--manual style-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/index.css">
</head>
<body>

    <!-- bootstrap components -->
    <div class="container navebar">
        <h1>bootstrap components</h1>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        </header>

    </div>
   <!-- containner example -->
   <div class="container-lg">
    <h1>container example all content are center</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid facere ipsa tempora aperiam quasi nam atque labore rem alias laudantium laboriosam commodi placeat, architecto adipisci, culpa tempore. Aperiam, corrupti tempore?
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis id nam beatae mollitia voluptatibus debitis repellat sapiente blanditiis corrupti vero labore, tempore rem laborum soluta minima qui nesciunt dolores placeat.</p>    
    </p>
    <hr>
   </div>


   <!-- color-->
   <div class="container">
    <h1 class="text-success bg-dark">bootstrop color</h1>
    <a href="https://getbootstrap.com/docs/5.0/customize/color/" class="h3" >bcolor link</a>
    <hr>
   </div>

   <!-- bootsrap image-->
    <div class="container-md">
        <h1>bootsrap image</h1>
        <div class="image">
            <img  class=" img-fluid img-thumbnail w-100 h-10" src="https://c4.wallpaperflare.com/wallpaper/1020/301/239/bike-gran-motogp-motorbike-wallpaper-preview.jpg" alt="">
<hr>
            <img src="https://www.pikpng.com/pngl/m/222-2225557_classroom-student-school-education-classroom-png-clip-art.png" class="float-right" width=250 alt="student learning">
            <img src="https://www.pikpng.com/pngl/b/241-2417927_at-cba-we-are-committed-to-preparing-students.png" class="mx-auto d-block" width=250 alt="student group">
        </div>
        <hr>
    </div>
    <!-- bootsrap table-->
    <div class="container-md">
        <h1>bootsrap table</h1>
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>S.NO</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                </tr>
            </tbody>
        </table>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>S.NO</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                    <th>Firat Name</th>
                    <th>Second Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                    <td>valan</td>
                    <td>pradeeb</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                    <td>muhamadu</td>
                    <td>nazeem</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    </div>
    
    

    <script src="/sources/Bootsrap/js/bootstrap.min.js"></script>
    <script src="/sources/Bootsrap/js/jquery.min.js"></script>
    <script src="/sources/Bootsrap/js/index.js"></script>
</body>
</html>