<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn</title>
    <link rel="stylesheet" href="/sources/Bootsrap/css/navbar.css">
    <link rel="stylesheet" href="/sources/Bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- header navbar -->
<header class="nav_style">
    <div class="container">
                <div class="row align-items-center">
                    <div class="col-4 p-2 d-flex align-items-center">
                        <img src="/sources/Bootsrap/image/Linkedin-png.webp" width="35">
                        <div class="input-container algin-item-center">
                            <span class="material-symbols-outlined icon">search</span>
                            <input type="text" class="ms-2 search_bar" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-8">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="container-fluid">
                              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav ms-au">
                                  <a class="nav-link d-flex flex-column align-items-center f_size mb-0 pb-0 pt-0" href="#">
                                    <span class="material-symbols-outlined">home</span>Home</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0" href="#">
                                    <span class="material-symbols-outlined">group</span>My Network</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0" href="#">
                                    <span class="material-symbols-outlined">work</span>Job</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0" href="#">
                                    <span class="material-symbols-outlined">chat</span>Messaging</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0" href="#">
                                    <span class="material-symbols-outlined">notifications</span>Notifications</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0" href="#">
                                    <span class="material-symbols-outlined">work</span>Me</a>
                                  <a class="nav-link nav-link d-flex flex-column align-items-center f_size mb-0 pb-0  pt-0 text-dark" href="#">
                                  <span class="material-symbols-outlined">apps</span>Me</a>
                                  <a class="nav-link nav-link d-flex flex-column f_size mb-0 pb-0  pt-0 text-dark text-center" href="#">
                                   try primium free</a>
                                </div>
                              </div>
                            </div>
                          </nav>
                          <div class="vertical-line"></div>
                    </div>
                </div>
    </div>
</header>
    <script src="/sources/Bootsrap/js/bootstrap.min.js"></script>
    <script src="/sources/Bootsrap/js/jquery.min.js"></script>
    <script src="/sources/Bootsrap/js/linkedinnavebar.js"></script>
</body>
</html>