<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sources/Bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sources/Bootsrap/css/linkedinclone.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <Head><div class="h2 text-primary fw-bold pt-1">Linked<img class="p-1 mb-1" src="/sources/Bootsrap/image/Linkedin-png.webp" width="35"> </img></div></Head>
        <!-- Body -->
        <div class="container body_section d-flex justify-content-center align-items-center">
          <div class="login_section">
            <form class="p-4">
                <div class="h2 pb-2 ">Join LinkedIn</div>
                <div class="mb-3">
                  <input  class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="password(6+ characters)">
                </div>
                <p class="text-muted policy">By clicking Agree & Join, you agree to the LinkedIn <a  href="#">User Agreement</a>, <a href="#">Privacy Policy</a>, and 
                <a href="#">Cookie Policy</a>.</p>
                <div class="d-grid col-10 mx-auto">
                <button type="submit" class="btn btn-primary butn">Agree & Join</button>
                </div>
              </form>
              <hr>
              <div class="d-grid col-9 mx-auto">
                <button type="submit" class="btn btn-outline-secondary butn"><img class="p-1 mb-1" src="/sources/Bootsrap/image/google-icon.png" width="35">Continue width Google</button>
                <p class="text-center pt-4">Already on Linkedin? <a  href="#">Sign in</a></p>
             </div>
          </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container ">
               <div class="row">
                <div class="col-1 "><P class="ms-3">Linked In</P></div>
                <div class="col-10">
                    <a href="#" class="foot_linkk">©2024</a>
                    <a href="#" class="foot_linkk">About</a>
                    <a href="#" class="foot_linkk">Accessibility</a>
                    <a href="#" class="foot_linkk">User Agreement</a>
                    <a href="#" class="foot_linkk">Privacy Policy</a>
                    <a href="#" class="foot_linkk">Cookie Policy</a>
                    <a href="#" class="foot_linkk">Copyright Policy</a>
                    <a href="#" class="foot_linkk">Brand Policy</a>
                    <a href="#" class="foot_linkk">Guest Controls</a>
                    <a href="#" class="foot_linkk">Community Guidelines</a>
                </div>
                <div class="col-1 ">
                    <a href="#" class="foot_linkk ps-1">Language</a>
                </div>
               </div>
            </div>
        </footer>
    <script src="/sources/Bootsrap/js/bootstrap.min.js"></script>
    <script src="/sources/Bootsrap/js/jquery.min.js"></script>
</body>
</html>