<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Bootstrap-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/bootstrap.min.css">
   <!--manual style-->
   <link rel="stylesheet" href="/sources/Bootsrap/css/index.css">
</head>
<body>
  <!-- bootstrap navbar -->
  <nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.bhavish.co.in/img/logo/logo3.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
    <script src="/sources/Bootsrap/js/bootstrap.min.js"></script>
    <script src="/sources/Bootsrap/js/jquery.min.js"></script>
    <script src="/sources/Bootsrap/js/index.js"></script>
</body>
</html>