.textstyle{
    color: brown;
}
.textstyle .textalign{
    text-align: justify;
    word-spacing: 10px;
/* offset-x | offset-y | blur-radius | color */
text-shadow: 1px 1px 1px rgba(166, 26, 26, 0.619);
    
    
}
.textstyle .textalignlast{
    text-align-last:justify;
    
}
.textstyle .direction{
    direction: ltr;
    text-indent: 1rem;
    letter-spacing: 2px;
}
.textstyle .decorations{
    /*text-decoration: underline dotted red 5px; shorthand*/
    text-decoration-line:underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 1px;
    text-decoration-style:solid;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    text-emphasis-color:red ;
    text-emphasis-style: double-circle;
}
