
.font-family .times-new-roman{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    /*'Times New Roman'                ==> The quotation reason was that the font family name looked like a sentence.*/
    /*'Times New Roman', Times, serif  ==> The comma reason was that the first font browser does not support it,
                                           It will take a second family.*/
    /*serif                            ==> The serif has sharp edges*/

}
.font-family .arial{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2rem;
    /*sans-serif                       ==> The sans-serif doesn't has a sharp edges*/
}
.font-family .bigparagaph{
    font: italic bold 0 .5rem sans-serif;
    /*font                       ==> its a shorthand prorpety*/
}
.font-family .googlefont{
    /* font-family: 'Tangerine', sans-serif; */
    font-family: 'Lobster', sans-serif;
    
    /*google font*/
  /*  Choose a Font:
Visit the Google Fonts website and select the font you want to use. You can use the search bar or browse through the different categories.

Select Styles:
Once you've chosen a font, you can customize the styles (weight, style, etc.) by clicking on the "Customize" button. Choose the styles you want to include in your project.

Add to Collection:
Click on the "Use" button, and it will be added to your collection.

Embed Fonts:
Scroll down to the bottom of the page, and you'll find a section titled "Embed Font." Copy the <link> tag provided there. This tag includes a link to the stylesheet with the font information.
*/
}
