<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <p class="m-5 bg-gray-100 p-2 rounded-lg">These are used to create multi-column layouts (like in magazines or
        Pinterest-style layouts) using CSS’s column-count property.</p>

    <p class="h1">Eaxmple 1</p>
    <div class="columns-3 h-auto p-10 bg-gray-100 ">
        <div class="bg-red-100 m-2 w-50 h-50 "></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
        <div class="bg-red-100 m-2 w-50 h-50"></div>
    </div>
    <p class="h1">Eaxmple 2</p>
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-4 mb-10 bg-red-300">
        <p>Item 1</p>
        <p>Item 2</p>
        <p>Item 3</p>
        <p>Item 4</p>
        <p>Item 5</p>
    </div>
    <p class="h1">Eaxmple 3</p>
    <div class="columns-md gap-6 mb-10">
        <div class="bg-gray-200 p-3 rounded">Card 1</div>
        <div class="bg-gray-200 p-3 rounded">Card 2</div>
        <div class="bg-gray-200 p-3 rounded">Card 3</div>
        <div class="bg-gray-200 p-3 rounded">Card 4</div>
    </div>

</body>

</html>