<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>காளையார் கோவில்</title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/index.css">
  <!-- google icon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <!-- Nav bar Strat -->
  <header class="nav_header" style="background-image:linear-gradient(to right,#a517ba,#5F1782);">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand text-monospace " href="#">
        <div class="h4 font-weight-bold" id="nav_logo">காளையார் கோவில்</div>
        <button type="button" id="menu_btn">
          <span class="material-symbols-outlined" id="menu"> home   </span>
        </button>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navtoggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pe-5">
            <a class="nav-link font-weight-bold " id="li-hover" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Nav bar End -->
<!-- Sidebar start-->
<div class="side_bar" id="side_bar_id">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">directions_bus</span> <p>Bus Time</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">local_hospital</span> <p>Hospital</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">school</span> <p>School</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">cottage</span> <p>Lodge</p>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-symbols-outlined">shopping_cart</span> <p>Shopping</p>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><span class="material-symbols-outlined">styler</span> Dress</a>
        <a class="dropdown-item" href="#"><span class="material-symbols-outlined">grocery</span> Grocery</a>
        <a class="dropdown-item" href="#"><span class="material-symbols-outlined">cut</span> Barber Shop</a>
        <a class="dropdown-item" href="#"><span class="material-symbols-outlined">health_and_beauty</span> Beauty Parlour</a>
      </div>
    </li>
  </ul>
</div>
<!-- sidebar end -->
  <!-- Home page statrt -->
  <!-- Home page end -->
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Your custom script -->
  <script src="/js/index.js"></script>
</body>

</html>