<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Text style propertis</title>
<link rel="stylesheet" href="/sources/resource/css/index.css">
</head>
<body>
<div class="textstyle">
  <P class="loremtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minima exercitationem officiis porro autem dignissimos delectus enim, illum ut consequatur impedit eos id nam possimus beatae et rerum quod harum!</P>
  <P class="textalign">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minima exercitationem officiis porro autem dignissimos delectus enim, illum ut consequatur impedit eos id nam possimus beatae et rerum quod harum!</P>
  <P class="textalignlast">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minima exercitationem officiis porro autem dignissimos delectus enim, illum ut consequatur impedit eos id nam possimus beatae et rerum quod harum!</P>
  <P class="direction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse aspernatur fuga nullaLorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse aspernatur fuga nullaLorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse aspernatur fuga nullaLorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse aspernatur fuga nulla fugit exercitationem natus enim itaque eius error recusandae repellendus, consequatur nihil, ad id quibusdam quaerat eligendi et.</P>
  <P class="decorations">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse aspernatur fuga nullaLorem ipsum dolor sit.</P>
</div>
</body>
</html>