<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Gallery</title>
  <link rel="stylesheet" href="/sources/resource/css/index.css">
</head>
<body>
  <div class="maincontainer">
    <div class="header">
      <Header>header</Header>
    </div>
 <div class="scrolbar">
<h3>scrolbar</h3>
 </div>
 <div class="maincontent">
  <iframe src="/sources/view/another.html"></iframe>
 </div>
 <div class="footer">
  <footer>footer</footer>
 </div>
  </div>
</body>
</html>