<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sources/resource/css/index.css">
  <title>CSS table 10 properties</title>
</head>
<body>
  <table>
    <tr>
      <th>S.NOth</th>
      <th>First Name</th>
      <th>Second Name</th>
   </tr>
    <tr>
      <td>1</td>
      <td>valan</td>
      <td>pradeep</td>
    </tr>
    <tr>
      <td>2</td>
      <td>jose</td>
      <td>clement</td>
    </tr>
    <tr>
      <td>3</td>
      <td>john</td>
      <td>britto</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Muhammadhu</td>
      <td>nazeem</td>
    </tr>
  </table>
</body>
</html>